In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot

In [3]:
df = pd.read_csv('IndividualDetails.csv')
df = df.drop(['id', 'government_id', 'detected_city', 'nationality', 'notes', 'status_change_date', 'age', 'gender'], axis=1)
df['diagnosed_date'] = pd.to_datetime(df['diagnosed_date'], dayfirst = True)
df

      diagnosed_date detected_district detected_state current_status
0         2020-01-30          Thrissur         Kerala      Recovered
1         2020-02-02         Alappuzha         Kerala      Recovered
2         2020-02-03         Kasaragod         Kerala      Recovered
3         2020-03-02        East Delhi          Delhi      Recovered
4         2020-03-02         Hyderabad      Telangana      Recovered
...              ...               ...            ...            ...
27885     2020-04-26               NaN          Delhi   Hospitalized
27886     2020-04-26               NaN    Uttarakhand   Hospitalized
27887     2020-04-26            Munger          Bihar   Hospitalized
27888     2020-04-26            Munger          Bihar   Hospitalized
27889     2020-04-26            Munger          Bihar   Hospitalized

[27890 rows x 4 columns]

In [26]:
States = list()
for i in df['detected_state'].unique():
    States.append(i)
States.remove('Mizoram')
States.remove('Arunachal Pradesh')
# States.remove('Dadra and Nagar Haveli')
States_df = States.copy()
df = df.set_index('detected_state')   
df

               diagnosed_date detected_district current_status
detected_state
Kerala             2020-01-30          Thrissur      Recovered
Kerala             2020-02-02         Alappuzha      Recovered
Kerala             2020-02-03         Kasaragod      Recovered
Delhi              2020-03-02        East Delhi      Recovered
Telangana          2020-03-02         Hyderabad      Recovered
...                       ...               ...            ...
Delhi              2020-04-26               NaN   Hospitalized
Uttarakhand        2020-04-26               NaN   Hospitalized
Bihar              2020-04-26            Munger   Hospitalized
Bihar              2020-04-26            Munger   Hospitalized
Bihar              2020-04-26            Munger   Hospitalized

[27890 rows x 3 columns]

In [27]:
district_list = list()
for i in States:
    district_list.append(i)
    temp = df.loc[i]
    district_list.append(temp['detected_district'].value_counts())
district_list[21]

Mumbai        2687
Pune           680
Thane          392
Palghar         88
Nagpur          81
Nashik          63
Raigad          43
Aurangabad      31
Ahmednagar      29
Sangli          26
Buldhana        24
Akola           20
Solapur         19
Yavatmal        15
Satara          14
Latur            8
Hingoli          7
Amravati         7
Ratnagiri        6
Dhule            6
Kolhapur         5
Jalgaon          5
Nandurbar        4
Osmanabad        3
Jalna            3
Chandrapur       2
Parbhani         1
Washim           1
Nanded           1
Beed             1
Gondia           1
Sindhudurg       1
Name: detected_district, dtype: int64

In [28]:
#To Create data for plotting Map
#To get data for different states, Change no. in District_list['here']
# No. can only be changed in odd nos. example 1,3,5,etc
# We you change in even no, it will give errors.
# 1 for Kerala, 3 for Delhi.
Rajasthan = pd.DataFrame(district_list[7]).reset_index().rename(columns = {'index':'DIST_NAME', 'detected_district':'Count'})#.drop(21)
Rajasthan.to_csv('Rajasthan.csv')

In [29]:
for i, j in zip(States, range(1,2*len(States),2)):
    print(str(j) + "\t" + i)

1	Kerala
3	Delhi
5	Telangana
7	Rajasthan
9	Haryana
11	Uttar Pradesh
13	Ladakh
15	Tamil Nadu
17	Jammu and Kashmir
19	Karnataka
21	Maharashtra
23	Punjab
25	Andhra Pradesh
27	Uttarakhand
29	Odisha
31	Puducherry
33	West Bengal
35	Chandigarh
37	Chhattisgarh
39	Gujarat
41	Himachal Pradesh
43	Madhya Pradesh
45	Bihar
47	Manipur
49	Goa
51	Andaman and Nicobar Islands
53	Jharkhand
55	Assam
57	Tripura
59	Meghalaya